@import "reset.css";
@import "main.css";
@import "howItsWork.css";
@import "prices.css";
@import "fleet.css";
@import "reviews.css";
@import "order.css";
@import "map.css";
@import "footer.css";
@import "adress.css";
@import "js.css";
@import "burger.css";
@import "timer.css";
@-moz-document url-prefix() {
    .remove-me {
        border: 1px solid red;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.button {
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    box-sizing: border-box;
}

 :root {
    --main: #333;
    --yellow: #FED100;
    --red: #FF352B;
    --white: #fff;
    --gray: #F8FBFF;
    --orange: #FF772B;
    --black: #000;
}

a:hover {
    color: var(--red);
}

.wrapper__global {
    min-height: 100%;
    overflow: hidden;
}