@import "reset.css";
body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    box-sizing: border-box;
}

.container {
    /* max-width: 192rem; */
    padding: 0 2rem;
}

@media(max-width:1024px) {
    .container {
        padding: 0;
    }
}

@media(max-width:320px) {
    .container {
        padding: 0;
    }
}

.wrapper__global {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1305px;
    margin: 0 auto;
}

@media (max-width:1024px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
    }
}

a:hover {
    color: #FF352B;
}

.wrapper__global {}

.main__page {
    background-color: #FED100;
    position: relative;
    z-index: 0;
    display: flex;
    flex: 0 1 50%;
}

.container__main {}

.container {}

.header-main__page {
    height: 6.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:320px) {
    .header-main__page {
        height: 4.375rem;
        padding-right: 2rem;
    }
}

.header-main__logo {
    font-size: 1.875rem;
    font-weight: 600;
    text-transform: uppercase;
}

@media (max-width:320px) {
    .header-main__logo {
        font-size: 1rem;
        padding-left: 0.87rem;
        padding-top: 0.17rem;
    }
}

@media (max-width:1024px) {
    .header-main__logo {
        font-size: 2.2rem;
        padding-left: 0.87rem;
        padding-top: 0.17rem;
    }
}

.header-main__nav {
    display: flex;
}

@media (max-width:320px) {
    .header-main__nav {
        display: none;
    }
}

@media (max-width:1024px) {
    .header-main__nav {
        display: none;
    }
}

.main__img-adaptive {
    display: none;
}

@media (max-width:320px) {
    .main__img-adaptive {
        display: block;
        text-align: center;
    }
    .main__img-adaptive img {
        width: 15.5rem;
        margin-top: -2.8rem;
    }
}

@media (max-width:1024px) {
    .main__img-adaptive {
        display: block;
        margin-left: 5rem;
    }
    .main__img-adaptive img {
        width: 100%;
        width: 15.5rem;
        margin-top: -2.8rem;
    }
}

.header-main__nav a {
    padding-right: 3rem;
    font-weight: 500;
}

.header-main__tel a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    position: relative;
    display: inline-block;
    border-bottom: 2px solid #333;
}

@media (max-width:1024px) {
    .header-main__tel {
        display: none;
    }
}

@media (max-width:320px) {
    .header-main__tel {
        display: none;
    }
}

.header-main__tel::after {}

.header-main__burger {
    display: none;
}

.menu__button {}

.menu__button:hover {}

@media (max-width:1024px) {
    .menu__button {
        padding-left: 3rem;
    }
}

@media (max-width:1024px) {
    .header-main__burger {
        display: block;
    }
    .menu__button span,
    span:after,
    span::before {
        display: block;
        position: relative;
        width: 44px;
        height: 2px;
        background-color: #616161;
        margin-right: 1rem;
        margin-top: 0.09rem;
    }
    .menu__button span:after {
        content: '';
        top: 10px;
    }
    .menu__button span:before {
        content: '';
        bottom: 10px;
    }
    .menu__buttonspan:after,
    span:before {
        position: absolute;
    }
}

@media (max-width:320px) {
    .header-main__burger {
        display: block;
    }
    .menu__button span,
    span:after,
    span::before {
        display: block;
        position: relative;
        width: 44px;
        height: 2px;
        background-color: #616161;
        margin-right: 1rem;
        margin-top: 0.09rem;
    }
    .menu__button span:after {
        content: '';
        top: 10px;
    }
    .menu__button span:before {
        content: '';
        bottom: 10px;
    }
    .menu__buttonspan:after,
    span:before {
        position: absolute;
    }
}

.content-main__page {
    display: flex;
    align-items: baseline;
}

@media (max-width:1024px) {
    .content-main__page {
        justify-content: center;
    }
}

@media (max-width:320px) {
    .content-main__page {
        flex-direction: column;
    }
}

.main__sense {
    padding-top: 0;
}

@media (max-width:1024px) {
    .main__sense dl {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__sense dd {
        width: 100%;
    }
}

.main__sense h1 {
    font-weight: 700;
    font-size: 4.375rem;
    line-height: 5.56rem;
    margin: 0;
    margin-top: -0.45rem;
}

@media (max-width:1024px) {
    .main__sense h1 {
        font-size: 3.5rem;
        line-height: 120%;
        text-align: center;
    }
}

@media (max-width:320px) {
    .main__sense h1 {
        font-size: 1.75rem;
        line-height: 2.3rem;
        text-align: center;
    }
}

.main__sense dd {
    padding-top: 1.3rem;
    font-size: 1.875rem;
    font-weight: 600;
    padding-bottom: 3.125rem;
}

@media (max-width:320px) {
    .main__sense dd {
        font-size: 1.125rem;
        line-height: 2.3rem;
        text-align: center;
        padding-bottom: 0rem;
        padding-top: 0;
        margin-left: -1rem;
    }
}

@media (max-width:1024px) {
    .main__sense dd {
        font-size: 2.25rem;
        line-height: 2.3rem;
        text-align: center;
        display: block;
        max-width: 25rem;
    }
}

@media (max-width:320px) {
    .main__sense dl {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.main__sense .main__button {
    padding-top: 0;
    font-size: 1.875rem;
    font-weight: 600;
    padding-bottom: 0;
    width: 19rem;
    padding: 1rem 0;
    margin-bottom: 4.75rem;
    text-align: center;
    display: inline-block;
    position: relative;
}

@media (max-width:320px) {
    .main__sense .main__button {
        font-size: 20px;
        width: 18.25rem;
        display: block;
        text-align: center;
        margin-bottom: 2.5rem;
        margin-top: -1.9rem;
        padding: 0.6rem 0 0.8rem 0;
        margin-left: -0.4rem;
    }
}

.main__text {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

@media(max-width:1024px) {
    .main__text {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
}

.button {
    color: #F2F2F2;
    font-size: 1.5rem;
    background-color: #FF352B;
    padding: 1rem 0;
}

.main__button:hover {
    color: #FF772B;
}

.main__button::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 0.5rem;
    width: 19rem;
    height: 3.75rem;
    right: 0;
    margin: 0 auto;
    display: block;
    border: 2px solid #F2F2F2;
    z-index: -1;
}

.main__button:hover::after {
    background-color: #F2F2F2;
}

.main__promo {
    display: flex;
}

@media (max-width:1024px) {
    .main__promo {
        max-width: 100%;
        flex: 0 0 15%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main__promo dd {
        max-width: 9.6rem
    }
    .main__promo dd {
        margin-bottom: 0.9rem;
    }
}

@media (max-width:320px) {
    .main__promo {
        display: none;
    }
    .main__button::after {
        display: none;
    }
}

.main__promo dl {
    display: flex;
}

.main__promo dd {
    padding-left: 0.625rem;
    /* padding-top: 0.08rem; */
    line-height: 1.31rem;
}

.main__img {
    margin-top: -5rem;
}

.main__img img {
    width: 100%;
    margin-top: -100px;
}

@media (max-width:320px) {
    .main__img {
        display: none;
    }
}

@media (max-width:1024px) {
    .main__img {
        display: none;
    }
}


/*========================================================2block==========================*/

.howItsWork {
    display: flex;
    justify-content: center;
}

.container__howItsWork {
    max-width: 75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header__howItsWork {
    font-weight: 600;
    font-size: 1.9rem;
    padding-top: 6rem;
    padding-bottom: 3.8rem;
}

.howItsWork__items {
    display: flex;
    justify-content: space-around;
    /* gap: 5rem; */
    flex: 0 1 50%;
    flex-wrap: wrap;
}

.howItsWork__item:nth-child(even) {
    padding-left: 8.3rem;
}

.howItsWork__item:nth-child(1),
.howItsWork__item:nth-child(2) {
    padding-bottom: 4.3rem;
}

.howItsWork__item-content {
    display: flex;
    flex-direction: column;
}

.howItsWork__item {
    display: flex;
    max-width: 31rem;
}

.howItsWork__item-number {
    font-size: 3.1rem;
    font-weight: 500;
    padding-right: 2rem;
    padding-top: 0.1rem;
    position: relative;
}

.howItsWork__item-number1::before {
    position: absolute;
    left: 3px;
    content: "01";
    color: #FED100;
    z-index: -1;
}

.howItsWork__item-number2:before {
    position: absolute;
    left: 3px;
    content: "02";
    color: #FED100;
    z-index: -1;
}

.howItsWork__item-number3:before {
    position: absolute;
    left: 3px;
    content: "03";
    color: #FED100;
    z-index: -1;
}

.howItsWork__item-number4:before {
    position: absolute;
    left: 3px;
    content: "04";
    color: #FED100;
    z-index: -1;
}

.howItsWork__item-title {
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.howItsWork__item-text {}

.prices {}

.container__prices {}

.prices__header {}

.prices__title {}

.prices__subtitle {}

.prices__items {}

.prices__item {}

.prices__item-header {}

.prices__item-content {}

.prices__item-price {}

.prices__item-button {}